@media screen and (min-width:320px){html{font-size:21.333333333333332px;}body{font-size:12px;}}@media screen and (min-width:360px){html{font-size:24px;}body{font-size:12px;}}@media screen and (min-width:375px){html{font-size:25px;}body{font-size:12px;}}@media screen and (min-width:384px){html{font-size:25.6px;}body{font-size:14px;}}@media screen and (min-width:400px){html{font-size:26.666666666666668px;}body{font-size:14px;}}@media screen and (min-width:414px){html{font-size:27.6px;}body{font-size:14px;}}@media screen and (min-width:424px){html{font-size:28.266666666666667px;}body{font-size:14px;}}@media screen and (min-width:480px){html{font-size:32px;}body{font-size:15.36px;}}@media screen and (min-width:540px){html{font-size:36px;}body{font-size:17.28px;}}@media screen and (min-width:720px){html{font-size:48px;}body{font-size:23.04px;}}@media screen and (min-width:750px){html{font-size:50px;}body{font-size:24px;}}
body{
    overflow-x: hidden;
}
.dis{
    display: none;
}
.text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main{
    width: 15rem;
    margin: 0 auto;
}
#owl{
    height: 7.2rem;
}
.sear{
    width: 15rem;
    height: 2rem;
    line-height: 2rem;
    background-color: #f5f5f5;
}
.i-input{
    display: inline-block;
    width: 14.4rem;
    height: 1.6rem;
    position: relative;
    padding:.2rem .3rem;
    border-radius: .2rem;
}
.i-input::after{
    content: '';
    position: absolute;
    left: .6rem;
    top: .65rem;
    width: .7rem;
    height: .7rem;
    background: url("../image/1.png") no-repeat center center;
    background-size: 100% 100%;
}

.i-input input{
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    float: left;
    text-indent: 1.5rem;
    font-size: .52rem;
    color: #a9a9a9;
}
.main-ul{
    width:15rem;
    height: auto;
    background: #FFF;
    border-bottom: .3rem solid #f5f5f5;
}
.main-li{
    width:7.46rem;
    height: 3.7rem;
    float: left;
    text-align: center;
    border-bottom: .02rem solid #ececec;
}
.main-li:nth-child(2n-1){
    width: 7.46rem;
    border-right: .02rem solid #ececec;
}
.main-list{
    display: inline-block;
    margin-top: .95rem;
}
.main-img{
    height: .9rem;
}
.main-name{
    height: .5rem;
    line-height: .5rem;
    display: block;
    margin-top: .3rem;
    font-size: .42rem;
    color: rgb(82, 82, 82);
}
.xx{
    width: 13.8rem;
    height: 14rem;
    margin: .4rem;
    border-radius: .5rem;
    padding: .2rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,.2);
}
.xx h3{
    width:100%;
    height: 2rem;
    line-height: 2rem;
    font-size: .72rem;
    text-align: center;
}
.xx p{
    width: 90%;
    line-height: 1.2rem;
    margin: 0 5%;
    overflow:hidden;
}
.xx p *{
    display: inline-block;
}
.xx p label{
    width: 4.01rem;
    padding-right: .5rem;
    float: left;
    height: 1.2rem;
    text-align: right;
    font-size: .54rem;
    color: #555555;
}
.xx p label img{
    height: .5rem;
    margin: .35rem 0 0 .5rem;
    float: left;
}
.xx p span{
    width: 7.9rem;
    float: left;
    font-size: .48rem;
    color: #555555;
}

































