*{
    margin: 0;
    padding: 0;
}
html,body{
    background: #fff;
    /*font-family: "微软雅黑";*/
    position: relative;
    overflow-x: hidden;
    min-width: 1200px;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clear{
    clear: both;
}
.img100{
    width: 100%;
    height: auto;
    transition: all .2s linear;
}
